/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4f6d7a;
  height: 100vh;
}

.main-container {
  max-width: 960px;
  margin: auto;
  padding: 0.5rem;
  height: 95%;
}

/* AVATAR */
.avatar {
  display: flex;
  align-items: center;
}
.avatar--light {
  color: white;
}
.avatar span {
  display: block;
  font-size: small;
}
.avatar span:first-child {
  font-weight: 600;
}
.avatar span:last-child {
  font-style: italic;
}
.avatar img {
  width: 32px;
  display: block;
  margin-right: 0.5rem;
  border-radius: 5px;
}

/* HEADER */
.header {
  background-color: #4a6fa5;
  padding: 0.5rem;
  border-radius: 5px 5px 0 0;
}

/* CHAT CONTAINER */
.chat-container {
  display: grid;
  height: 100%;
  grid-template-areas: "aside  chat chat chat";
}

.chat {
  background-color: #166088;
  grid-area: chat;
  position: relative;
  display: flex;
  flex-direction: column;
}
.aside {
  grid-area: aside;
  background-color: #dbe9ee;
  border-radius: 0 0 0 5px;
}

/* LIST */
.list {
  padding: 0.5rem 0;
  padding-left: 0.5rem;
}

.list__tag {
  display: block;
  padding: 0.5rem 0;
  color: #353535;
  font-weight: 600;
}

.list__item {
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  margin-bottom: 0.2rem;
  border-radius: 5px 0 0 5px;
}
.list__item:hover {
  background-color: #dbe9ee;
}
.list__item--selected {
  background-color: #c0d6df;
}
.list__item--selected:hover {
  background-color: #c0d6df;
}

/* CHAT INPUT */
.chat__input {
  top: 10px;
  border-radius: 0 0 5px 0;
  background-color: #dbe9ee;
  display: flex;
  padding: 0.5rem;
}
.chat__input input {
  display: inline-block;
  appearance: none;
  border: none;
  outline: none;
  margin-right: -5px;
  padding: 1rem;
  width: 100%;
  font-size: medium;
  color: #333;
  border-radius: 5px 0 0 5px;
  border: 1px solid #4f6d7a;
}
::placeholder {
  color: #333;
}
.chat__input button {
  padding: 0.5rem 1rem;
  appearance: none;
  border: none;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  color: #dbe9ee;
  background-color: #166088;
  border-radius: 0 5px 5px 0;
}

/* MESSAGE CONTAINER */
.chat__message-container {
  padding-top: 5%;
  height: 100%;
  margin: auto;
  overflow: scroll;
  width: 90%;
}
.message__content {
  background-color: #dbe9ee;
  display: table;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.8rem;
  position: relative;
}

.message__content::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dbe9ee;
  border-radius: 3px;
  position: absolute;
  left: 5px;
  top: -8px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
